* {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
}

.hero-bar {
  font-family: "Playfair Display", serif;
}

.banner__hero {
  font-family: "Merriweather", serif;
}

.trending,
.popular,
.login {
  font-family: "Merriweather", serif;
}

.terms {
  font-family: "Poppins", sans-serif;
}

.shoes,
.product__info {
  font-family: "Merriweather", serif;
}
